
.header{
    font-size: 88%;
        margin: 4% 1% 2% 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        justify-items: center;
        width: 50%;
    }
    
    .header a{
        text-decoration: none;
        color:rgb(75, 151, 187);
        font-size: 110%;
        font-weight: bold;
    }
    .bt:hover{
        color: rgb(23, 9, 153);
    }
.lg1{
    position: absolute;
    width: 10%;
    left: 6%;top: 6%;
}
.item:hover .overlay{
    opacity: 1;
    margin-bottom: 1%;
}

/* ***********reservation ******** */
.titre-rsv{
    margin-top: 8%;margin-bottom: 3%;
    margin-left: 17%;
    font-weight: bold;
    color: rgb(51, 110, 138);
    font-size: larger;
}
.img-rsv{
    top: 20%;width: 80%; height: 50%;
    margin-left: 10%;
    opacity: 0.5;
}
label{
    width: 42%;
   margin-left: 6%;
    font-size:normal;
    font-weight: normal;
} 
td{
    width: 1%;
}
.frml{
    position: absolute;
    top: 50%;left: 3%;
    margin-left: 10%;
    width: 85%;
    color: black;
}
#tbl{
    opacity: 1;
}

 input,#type-v,#duree,#auto,#motorisation{
    border-color: rgb(51, 110, 138);
    border-radius: 1px;
    padding: 1%;
    border-width:1px ;
    font-size: 85%;
    width: 48%;
    margin-bottom: 2%;
} 
#valide{
    margin-top: 10%;
    margin-left: 70%;
    color: rgb(51, 110, 138);
    font-size: medium;
    width: 30%;
    background-color: rgb(217, 226, 247);
    border-style:solid;
}
.bg-f{
    position:absolute; 
    width: 100%;height:  10%;left: 0%;
    background: linear-gradient(rgb(217, 226, 247),rgb(51, 110, 138));
    transform: translate(0%,230%);
}
.sm{
    margin-left: 6%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    transform: translate(260%,430%);
}
.cp{
     margin-right: 0%;
    font-weight: bold;
    font-size: 80%;
    transform: translate(0%,610%);  
}
.fb{
    width: 60%;
    height: 90%;
} 
/* *****media resevation*********** */
@media screen and (max-width:768px) {
    .header{
        top: 4%;margin-left: 42%;
        font-size: 48%;
        margin-right: 0;
    }
   .lg1{
       width: 10%;
       top: 3%;left: 10%;
   }
    .img-rsv{
        margin-left: 0%;
        width:100%;
    }
    .titre-rsv{
        font-size: xx-small;
        margin-left: 30%;
    }
    .frml{
        position: absolute;
        top: 1%;left: 0%;
        margin-left: 10%;
        width: 85%;
    }
    label{
        width: 100%;
       margin-left: 1%;
        font-size: small;
    } 

    input,#type-v,#duree,#auto,#motorisation{
        border-width:1px ;
        font-size: 65%;
        width: 95%;
        margin-bottom: 2%;
    } 
   #valide{
        margin-left: 55%;
        font-size: small;
        width: 50%;
    }
    .bg-f{
        height: 7%;
        transform: translate(0%,550%);
    }
    .cp{
        margin-right: 0%;
        font-weight: normal;
        font-size:8px;
        transform: translate(0%,870%);
        width: 50%;
    }
    .sm{
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 30%;
        transform: translate(200%,860%);
    }
  
}
